{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Gym Template" />
    <meta name="keywords" content="Gym, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}FitMind{% endblock %}</title>
    {% block extra_css %}{% endblock %}

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/font-awesome.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/flaticon.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/owl.carousel.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/barfiller.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/magnific-popup.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/slicknav.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
    />
  </head>

  <body>
    <!-- Page Preloader -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3">
            <div class="logo">
              <a href="#">
                <img src="{% static 'img/logo.png' %}" alt="" />
              </a>
            </div>
          </div>
          <div class="col-lg-6">
            <nav class="nav-menu">
              <ul>
                <li class="{% if request.path == '/' %}active{% endif %}">
                  <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="{% if request.path == '/forum/' %}active{% endif %}">
                  <a href="{% url 'forum_home' %}">Forum</a>
                </li>
                <li
                  class="{% if request.path == '/bmi-calculator/' %}active{% endif %}"
                >
                  <a href="{% url 'bmi-calculator' %}">Bmi Calculator</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3">
            <div class="top-option">
              <div class="to-search search-switch">
                <i class="fa fa-search"></i>
              </div>
              <div class="to-social">
                {% if not request.user.is_authenticated %}
                <a class="btn-getstarted" href="/signup">Sign in</a>
                {% else %}
                <a class="btn-getstarted" href="/logout">Logout</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header End -->
  </body>
</html>
