{% include "header.html" %}
{% load static %}

<section class="choseus-section spad">

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">  <!-- Changer la taille de la colonne pour occuper toute la largeur -->
                <div class="about-text">
                    <div class="section-title">
                        <span>My Progress</span>
                        <h2>Predicted Performance</h2>
                    </div>
                    <div class="at-desc">
                        <p>Expected progress: {{ predicted_performance.predicted_progress }}%</p>

                        <div class="barfiller">
                            <span class="fill" data-percentage="{{ predicted_performance.predicted_progress }}" 
                                  style="background-color: {% if predicted_performance.predicted_progress == 100 %}black{% else %}initial{% endif %};">
                            </span>
                            <div class="tipWrap">
                                <span class="tip">{{ predicted_performance.predicted_progress }}%</span>
                            </div>
                        </div>
                    </div>
                    <div class="section-title mt-4">
                        <h3  style="color: white;" >My Past Progress</h3>
                    </div>
                    <ul  style="color: white;">
                        {% for progress in past_progress %}
                            <li>
                                {{ progress.workout.name }} - 
                                Duration: {{ progress.workout.exercises.first.duration }} minutes - 
                                Rehearsals: {{ progress.workout.exercises.first.repetitions }} - 
                                {% if progress.is_done %}
                                    Done
                                {% else %}
                                In progress
                                {% endif %}
                            </li>
                        {% empty %}
                            <li>No progress recorded.</li>
                        {% endfor %}
                    </ul>
<br/>
                    <h2 style="color: white;">Workouts Recommended for You</h2>
<ul style="color: white;">
    {% for workout in recommended_workouts %}
    <li>{{ workout.name }} - Level: {{ workout.level }}</li>
    {% empty %}
    <li>No workouts recommended yet.</li>
    {% endfor %}
</ul>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
</section>
{% include "footer.html" %}
